<h1>Kittens</h1>
<% @kittens.each do |k| %>
  <tr>
    <strong><%= k.name %></strong>
    <td><%= link_to 'Show', kitten_path(k.id) %> | </td>
    <td><%= link_to 'Edit', edit_kitten_path(k.id) %> | </td>
    <td><%= link_to 'Delete', kitten_path(k.id), method: 'delete', data: {confirm: 'Furr real?'} %></td>
  </tr><br /><br />
<% end %><br />
<%= link_to 'Create a new kitten', new_kitten_path %>