<h1><%= @kitten.name %>
<hr>

<h3>Age: <%= @kitten.age %></h3>
<h3>Cuteness: <%= @kitten.cuteness %></h3>
<h3>Softness: <%= @kitten.softness %></h3>

<%= link_to 'Back', kittens_path %>
<%= link_to 'Edit', edit_kitten_path(@kitten.id) %>
<%= link_to 'Delete', kitten_path(@kitten.id), method: 'delete', data: {confirm: 'Furr real?'} %>